 .listado { color:#FC0404; } 

.li span{
    color:#FF0080;
                border:1px solid #ccc;
                background-color:#808080;
                margin-right:20px;
                padding: 0 2px;
                border-radius:4px;
                -moz-border-radius:4px;
                -webkit-border-radius:4px;
                -o-border-radius:4px;
                border-radius:4px;
                font-weight:bold;
                font-size:0.8em;
                cursor:pointer;
    
}

body{
                
                margin: 0;
                padding: 0;
                font-family:arial, sans-serif;
     
                font-size: 13px;
    
    
}
 
    .contenedor{
                width: 50%;
                 margin: 0 auto;
                background-color: 969FA1;
                border-radius: 20%px  ;
                COLOR: #012B36;
                    
                    
            }
              

 #imagenes img  
    { width: 20%;
    display: inline-block;
    padding: 15px;
    background: #C7DDF3;
    margin: 20px;
   height: 150px;  
         background-position:center;}
    
}
    

 
     

